<html>
    <head>
        <title>INCOME & EXPEND ACCOUNT</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body        { padding-top:80px; }
        </style>
    </head>
    <body>
    <div class="container">
    
        <div class="jumbotron text-center">
            <h1><span class="fa fa-pencil-square-o"></span> INCOME & EXPEND ACCOUNT </h1>
    
            
            <% if(!user){ %>
                <br />
                <p>Login or Register</p>
                <br />
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            <% }else{ %>
                <br />
                <h2>You're Logined</h2>
                <br />
                <a href="/dashboard" class="btn btn-default"><span class="fa fa-user"></span> Go to Your Dashboard</a>
                <br />
            <% } %>
                <br />
                <h6>&copy; Powered by <a href="https://github.com/toonPt0473">toonPt</a></h6>

        </div>
    
    </div>
    </body>
</html>